#projects{
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--primary);
}

#projects-inner{
    margin-top: 100px;
}

#works_title {
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    text-transform: uppercase;
    color: var(--text);
}
